.authBox {
    @extend %flex__center;
    height: 90vh;

    &__authHolder {
        background: white;
        box-shadow: 0 1px 2px #a3a3a3;
        width: 600px;
        height: 500px;
        border-radius: 15px;
        padding: 40px;
    }
    @include responsive(largemobile) {
        &__authHolder {
            width: 500px;
        }
    }
    @include responsive(mediummobile) {
        &__authHolder {
            width: 400px;
            padding: 25px;
            height: 470px;
        }
    }
    @include responsive(mobile) {
        &__authHolder {
            width: 320px;
            padding: 15px;
            height: 450px;
        }
    }
    .login {
        height: 400px;
    }

    h1 {
        color: $secondary;
        text-align: center;
        font-size: 3rem;
    }
    .input {
        width: 100%;
    }
    input {
        width: 500px;
    }
    @include responsive(largemobile) {
        input {
            max-width: 400px;
        }
    }
    @include responsive(mediummobile) {
        input {
            max-width: 330px;
        }
    }
    @include responsive(mobile) {
        input {
            max-width: 270px;
        }
    }
    .btn {
        background: $secondary;
        margin-top: 25px;
        &:hover {
            background: $secondary__hover;
        }
    }
}