.comments__holder {
    margin: 20px 0;
    
    hr {
        background: $primary;
        border: 0;
        height: 1px;
    }
    &hr:nth-child(2) {
        margin-bottom: 20px;
    }

    h3 {
        color: $secondary;
    }

    @include responsive(largemobile) {
        h3 {
            padding-left: 10px;
        }
    }

    .comments {
        display: flex;
        margin: 5px 0;
        padding: 5px 10px;
        font-size: 1.8rem;

        .comment {
            background-color: $white;
            width: 100%;
            border-radius: 15px;
            padding: 5px 10px;

            .text {
                font-size: 1.6rem;
            }
            @include responsive(largemobile) {
                .text {
                    font-size: 1.4rem;
                }
            }
        }
        .avatar {
            margin-right: 10px;
            margin-top: 3px;
        }
    }

    @include responsive(largemobile) {
        .comments {
            font-size: 1.4rem;
        }
    }
}

.commentBox {
    width: 100%;
    padding: 0 5px;

    input {
        width: 100%;
        padding: 10px;
        border: 0;
        border-radius: 20px;
        background: #002fb129;
        font-size: 1.8rem;
        transition: all .2s ease-in-out;

        &:focus {
            outline: #1b2c5b7c solid 2px;
            background: $white;
        }
    }
}