.editPost, .createPost {
    h3, h4 {
        font-size: 3rem;
        color: $secondary;
        text-align: center;
        margin: 20px 0;
    }
    h4 {
        font-size: 2.5rem;
    }
    input, #description {
        width: 100%;
        display: block;
        border: 0;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background: #002fb129;
        font-size: 1.8rem;
        transition: all .2s ease-in-out;
    }
    label {
        font-size: 1.6rem;
        display: block;
        font-weight: 600;
        color: $primary;
    }
    .imageLabel {
        background: $secondary;
        display: block;
        padding: 10px;
        border-radius: 5px;
        color: $white;
        font-size: 1.8rem;
        margin: 10px 0;
    }
    #image {
        display: none;
    }
    .preview {
        border: 3px solid $primary;
        margin: 10px 0;
    }

    input:focus, #description:focus {
        outline: #1b2c5b7c solid 2px;
        background: $white;
    }
    .quill {
        background: $white;
        margin: 10px 0;
    }

    #description {
        margin: 10px 0;
    }
    @include responsive(tablet) {
        input, #description {
            width: 100%;
        }
    }
    .update {
        text-align: center;
        margin: 20px 0;
    }
    .update>button {
        font-size: 1.8rem;
        width: 50%;
    }
}

.image__update {
    label {
        background: $secondary;
        display: block;
        padding: 10px;
        border-radius: 5px;
        color: $white;
    }
    input {
        display: none;
    }
}

@include responsive(tablet) {
    .editPost, .createPost {
        padding: 0 10px;
    }
}