footer {
    background: $secondary;
    margin-top: 20px;
    padding-top: 20px;
    

    .footer {
        font-size: 1.8rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;

        &__info {
            h1  {
                color: $primary;
            }
            p {
                color: $white;
                padding-bottom: 20px;
            }
        }

        &__icon {
            a {
                color: $primary !important;

                svg {
                    font-size: 3rem !important;
                    height: 40px !important;
                    width: 34px !important;
                    margin-top: -10px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                .mail {
                    height: 48px !important;
                    width: 48px !important;
                    margin-bottom: -5px;
                    margin-left: 0;
                }
            }
        }
    }

    .copyright {
        background: $primary;
        text-align: center;
        padding: 10px 0;
        font-size: 1.8rem;
        border-bottom: 5px solid $black;

        &__text {
            color: $white;

            .love {
                background: #ff000d;
                padding: 0 8px;
                border-radius: 14px;
            }
        }
    }

    @include responsive(largemobile) {
        .footer {
            font-size: 1.6rem;
        }
    }
}