.home__posts__holder {
    // min-height: 100vh;
    
    .home__posts {
    background: $white;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 1px 2px #a3a3a3;

        .post {
            font-size: 1.8rem;
            color: $dark_gray;
            max-width: 100%;
        }
        @include responsive(tablet) {
            .post {
                font-size: 1.6rem;
            }
        }
        @include responsive(largemobile) {
            .post {
                font-size: 1.4rem;
            }
        }
    
        &__header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            position: relative;
            
            &__info {
                padding-left: 5px;
                
                .name {
                        font-weight: 600;
                        font-size: 1.8rem;
                        margin-top: -8px;
                    }
                }
            }
                
        &__image>img {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        
        .title {
            margin-bottom: 8px;
                strong>a {
                    color: $dark_gray !important;
                    font-size: 2rem;
                }
        }
    }
    .detail__post {
        padding: 10px 0 !important;

            .title {
                border-left: 5px solid $secondary;
                color: $secondary;
                background-color: #1cd6b12a;
                font-size: 1.8rem;
                font-weight: 300;
                margin-top: -6px;
                padding: 8px;
            }
            img {
                border-radius: 0 !important;
            }
    }

}

.avatar {
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    @extend %flex__center;
    transform: rotate(
        45deg);
        .avatarText {
            position: absolute;
            transform: rotate(
                -45deg);
                color: $white;
                font-weight: 600;
                font-size: 2.5rem;
                opacity: 1;
        }
}
.top {
    opacity: 0.8;
    cursor: pointer;
}
.topFav {
    background: none !important;
    box-shadow: none !important;
}
.avatar::before {
    content: '';
    height: 40px;
    width: 20px;
    border-radius: 20px 0 0 20px;
    background: $primary;
}
.avatar::after {
    content: '';
    height: 40px;
    width: 20px;
    border-radius: 0 20px 20px 0;
    background: $secondary;
}
.time {
    color: $gray;
    font-size: 1.1rem;
}
#circuler {
        height: 100px !important;
        width: 100px !important;
}