.nav__holder {
    background: $primary;

    .nav__title>a {
        color: white !important;
        font-size: 2.5rem;
    }

    .appbar {
        background: $primary;
    }
}
.nav__link {
    color: $secondary;
    font-size: 1.8rem;
}
@include responsive(largemobile) {
    .nav__link {
        font-size: 1.4rem;
    }
}
.signing {
    background: none;
    border: 0;
    cursor: pointer;
    padding-left: 0 !important;
}
.search {
    font-size: 1.8rem !important;
}
@include responsive(largemobile) {
    .search {
        font-size: 1.4rem !important;
    }
}