.nav__holder {
    background: $primary;

    .nav__title>a {
        color: white !important;
    }

    .appbar {
        background: $primary;
    }
}
.nav__link {
    color: $gray;
}
.signing {
    background: none;
    border: 0;
    color: $gray;
    font-size: 1rem;
    cursor: pointer;
}