.pagination {
    @extend %flex__center;
    margin-top: 30px;

    li {
        list-style: none;
        margin: 0 10px;
    }
    .left__arrow {
        transform: rotate(180deg);
    }
    .links {
        margin-top: -3px;

        a {
            height: 25px;
        }
    }
    .active {
        background: $primary;
        font-size: 1.8rem;
        height: 30px;
        width: 30px;
    }
    .deactive {
        background: $gray;
        font-size: 1.8rem;
        height: 30px;
        width: 30px;
    }
}