.pagination {
    @extend %flex__center;

    li {
        list-style: none;
        margin: 0 10px;
    }
    .left__arrow {
        transform: rotate(180deg);
    }
    .links {
        margin-top: -8px;
    }
    .active {
        background: #1976d2;
    }
    .deactive {
        background: slategray;
    }
}