.container {
    max-width: 700px;
    min-height: 80vh;
    margin: 0 auto;
}

.container__nav__footer {
    max-width: 1200px;
    margin: 0 auto;
}

@include responsive(tablet) {
    .container__nav__footer {
        padding: 0 20px;
    }
}

a {
    color: $primary !important;
}

.btn-primary {
    background: $primary !important;
    color: $white !important;
    &:hover {
        background: $primary__hover !important;
    }
}

.center {
    text-align: center !important;
}